/*
	Kube Framework 4
*/
/* =Reset
-----------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
/* To prevent some browsers from inserting quotes on q and p */
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* Image inside */
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Normalize buttons in IE */
button {
  width: auto;
  overflow: visible;
}
/* Hand cursor on clickable controls */
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
/* Trick with vertical align for radio and checkbox  */
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
/* Normalize search fields */
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* Normalize horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
/* Responsive media */
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 0.9375em;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #134da5;
}
a:focus,
a:hover {
  color: #de2c3b;
}
/* =Headings
-----------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  color: #000000;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
h1,
.h1,
h2,
.h2 {
  line-height: 1.1;
}
h3,
.h3,
h4,
.h4 {
  line-height: 1.3;
}
h1,
.h1 {
  font-size: 2.25em;
}
h2,
.h2 {
  font-size: 1.5em;
  margin-bottom: .7em;
}
h3,
.h3 {
  font-size: 1.3125em;
}
h4,
.h4 {
  font-size: 1.125em;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: 0.75em;
  text-transform: uppercase;
}
/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 1.3125em;
  line-height: 1.5;
  margin-bottom: 1.0999999999999999em;
}
/* =Line height and margin
-----------------------------------------------------------------------------*/
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 3.3em;
}
ul li,
ol li {
  text-align: left;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
form,
fieldset,
figure,

/* =Navs
-----------------------------------------------------------------------------*/
/* NavBar */
.navbar {
  font-size: 105%;
  margin-bottom: 1.65em;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar:after {
  content: "";
  display: table;
  clear: both;
}
.navbar.navbar-left {
  float: left;
}
.navbar.navbar-right {
  float: right;
}
.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}
.navbar li {
  float: left;
  margin-right: 1.65em;
}
.navbar.navbar-right li {
  margin-right: 0;
  margin-left: 1.65em;
}
.navbar a,
.navbar span {
  display: block;
  text-decoration: none;
}
.navbar a:hover {
  color: #de2c3b;
  text-decoration: underline;
}
.navbar li.active a,
.navbar span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
}
.navigation-toggle {
  display: none;
  text-transform: uppercase;
  position: relative;
  color: #0f0f0f;
  background-color: #ffffff;
}
.navigation-toggle:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -12px;
  left: 10px;
  content: "\2630";
  font-size: 24px;
  line-height: 1;
}
.navigation-toggle.navigation-toggle-black {
  background-color: #0f0f0f;
  color: #ffffff;
}
.navigation-toggle.navigation-toggle-show {
  margin-bottom: 1.65em;
}
.navigation-toggle span {
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 40px;
}
.navigation-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
/* Pills */
.navbar-pills a,
.navbar-pills span {
  padding: 0.825em 1.65em;
}
.navbar-pills a:hover {
  color: #0f0f0f;
  background: #eee;
}
.navbar-pills li.active a,
.navbar-pills span {
  text-decoration: none;
  cursor: text;
  color: rgba(0, 0, 0, 0.4);
  background: #eee;
}
.navbar-pills li {
  margin-right: 1px;
}
.navbar-pills.navbar-right li {
  margin-left: 1px;
}
